<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>25504148805-f0tc6dl9iml8nfska3auvismbmd1riic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25504148805-f0tc6dl9iml8nfska3auvismbmd1riic</string>
	<key>API_KEY</key>
	<string>AIzaSyBEqhgW_oCsSzIBjywyTgCI6uRnYur9g2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>25504148805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.peterpineda.mycircle</string>
	<key>PROJECT_ID</key>
	<string>my-circle-3d8d8</string>
	<key>STORAGE_BUCKET</key>
	<string>my-circle-3d8d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:25504148805:ios:5139f6106333174b</string>
	<key>DATABASE_URL</key>
	<string>https://my-circle-3d8d8.firebaseio.com</string>
</dict>
</plist>